<!DOCTYPE html>
<html>
<head>
    <title>Aplikasi Chat</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .message {
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 5px;
        }
        .sent {
            background-color: #DCF8C6; /* Warna untuk pesan yang dikirim */
        }
        .received {
            background-color: #E5E5EA; /* Warna untuk pesan yang diterima */
        }
    </style>
</head>
<body>
    <main class="content">
        <div class="container p-0">
            <h1 class="h3 mb-3">Messages</h1>

            <div class="card">
                <div class="row g-0">
                    <div class="col-12 col-lg-5 col-xl-3 border-right">

                        <div class="px-4 d-none d-md-block">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <input type="text" id="username" class="form-control my-3" placeholder="Username">
                                    <input type="text" id="message" class="form-control my-3" placeholder="Message">
                                    <button id="send-message" class="btn btn-primary">Send</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-7 col-xl-9">
                        <div id="messages" class="p-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('connect', function() {
            console.log('Connected');
        });

        socket.on('new_message', function(data) {
            var messageClass = data.username === $('#username').val() ? 'sent' : 'received';
            var messageHtml = '<div class="message ' + messageClass + '"><strong>' + data.username + ':</strong> ' + data.message + '</div>';
            $('#messages').append(messageHtml);
        });

        $(document).ready(function() {
            $('#send-message').click(function() {
                var username = $('#username').val();
                var message = $('#message').val();
                socket.emit('send_message', {'username': username, 'message': message});
                $('#message').val('');
            });
        });
    </script>
</body>
</html>
